# Variables Obligatorias para la Aplicación Móvil (React Native / Expo)
# Configura estos valores en el apartado de Environment Variables en tu servidor Dokploy
# Recuerda que el prefijo EXPO_PUBLIC_ es necesario para que el empaquetador las incluya en el binario final (APK/AAB/IPA)

# URL de tu instancia base de Supabase
EXPO_PUBLIC_SUPABASE_URL=

# Llave de rol público (anon) de Supabase
EXPO_PUBLIC_SUPABASE_ANON_KEY=
